div.top-nav
    a(href="/") Home
    a(href="/get-events") Events
    a(href="/logout") Logout
form.create-event(action="create-event", method="get")
    div
        label(for="subject") Subject
        input(type="text", name="subject", required="required")
    div
        label(for="content") Content
        input(type="text", name="content", required="required")
    div
        label(for="where") Where
        input(type="text", name="where", required="required")
    div
        label(for="from") From
        input(type="datetime-local", name="from", required="required")
    div
        label(for="to") To
        input(type="datetime-local", name="to", required="required")
    input(type="submit", value="Create event")