<!DOCTYPE html>
html
    head
        meta( name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        style
            include ./css/index.css
    body
        div.main-content
            h1 Create/read/delete/update your upcoming week's events in your outlook.com calendar.
            case content_key
                when "error"
                    include ./error.pug
                default
                    include ./user.pug
        div.footer
            include ./footer.pug