<!DOCTYPE html>
html
    head
        meta( name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        style
            include ./index.css
    body
        div.main-content
            case content_key
                when "error"
                    include ./error.pug
                default
                    include ./user.pug
        div.footer
            include ./footer.pug