* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100vw;
  font-size: 12px;
  background-color: #ccc;
  color: rgb(252, 79, 108);
}

.login-container {
  position: relative;
  top: 30vh;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}
.login-container form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.login-container form div:last-child {
  justify-content: center;
}
.login-container input {
  padding: 5px;
  margin-left: 5px;
}
