if user && user.token
    case content_key
        when "events"
            include ./events.pug
        when "event"
            include ./event.pug
        default
            div
                h2 Welcome #{user.name}!
            div.top-nav
                a(href="logout") Log-out
                a(href="get-events") See events
else
    div 
        h2 You are signed-out. 
        a(href="login") Click to login